<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}

    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header id="vantajs">
        <div class="container" >
            <div class="intro-text">
                <div class="intro-heading">BizTek 2020<br><br /><br /></div>
                <!-- <div class="intro-lead-in">Thursday February 13 2020</div>
                <div class="intro-lead-in">Fort Garry Canad Inns</div>
                <div class="intro-lead-in">More Info Soon!</div> -->
                <a href="#intro" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>

    <!-- #### VANTA JS PLUGIN ### -->
<!-- A. vanta js assets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
<script src="https://www.vantajs.com/dist/vanta.rings.min.js"></script>
<!-- B. Instilize vanta js by #id selector -->
<script> 
   VANTA.RINGS({
    el:"#vantajs",
    backgroundColor: 0x111111
    // backgroundColor: 0x272727
   })
</script>

{% include 2017_data/intro.html %}
{% include 2017_data/about.html %}
{% include 2017_data/speakers.html %}
{% include 2017_data/sponsors.html %}
<!-- {% include 2016_data/contact.html %} -->
{% include 2016_data/footer.html %}
{% include 2017_data/speakers_info.html %}
{% include 2016_data/js.html %}
    </body>
</html>