<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}

    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header id="vantajs">
        <div class="container" >
            <div class="intro-text">
                <div class="intro-heading">BizTek 2020<br><br /><br /></div>
              <!--   <div class="countdown-container">
  <ul>
    <li class="countdown"><span id="days"></span>Days</li>
    <li class="countdown"><span id="hours"></span>Hours</li>
    <li class="countdown"><span id="minutes"></span>Minutes</li>
    <li class="countdown"><span id="seconds"></span>Seconds</li>
  </ul>
</div> -->
                <div class="intro-lead-in">Thursday February 13 2020</div>
                <div class="intro-lead-in">Fort Garry Canad Inns</div>
 <!--                <div class="intro-lead-in">More Info Soon!</div> -->
                <a href="#intro" class="page-scroll btn btn-xl">Buy Tickets!</a>
            </div>
        </div>
    </header>

    <!-- #### VANTA JS PLUGIN ### -->
<!-- A. vanta js assets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
<!-- <script src="https://www.vantajs.com/dist/vanta.rings.min.js"></script> -->
<script src="https://www.vantajs.com/dist/vanta.net.min.js"></script>
<!-- B. Instilize vanta js by #id selector -->
<script> 
//    VANTA.RINGS({
//     el:"#vantajs",
//     backgroundColor: 0x111111
//    })

VANTA.NET({
  el: "#vantajs",
  points: 15.00,
  maxDistance: 21.00
})
</script>

<!-- countdown script -->
<!-- <script type="text/javascript"> const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let countDown = new Date('feb 13, 2020 00:00:00').getTime(),
    x = setInterval(function() {

      let now = new Date().getTime(),
          distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
      
      //do something later when date is reached
      //if (distance < 0) {
      //  clearInterval(x);
      //  'IT'S MY BIRTHDAY!;
      //}

    }, second)</script>
 -->
{% include 2017_data/intro.html %}
{% include 2017_data/about.html %}
<!-- speakers also contains some information from about -->
<!-- I deleted speakers instead of commenting it out because it was adding a weird character still -fama -->
{% include 2017_data/sponsors.html %}
<!-- {% include 2016_data/contact.html %} -->
{% include 2016_data/footer.html %}
{% include 2017_data/speakers_info.html %}
{% include 2016_data/js.html %}
    </body>
</html>